# Ignore build output directory
/target

# Ignore IDE specific files
/.vscode/
/.claude/
/.pycache/

# Ignore python tests
*.py

# Ignore documentation 
/documentation/

# Ignore data handler API keys
api_keys.json
